altair==5.3.0
beautifulsoup4==4.12.3
flair==0.13.1
keybert==0.8.5
keyphrase_vectorizers==0.0.13
matplotlib==3.9.1
nltk==3.8.1
numpy==2.0.0
pandas==2.2.2
Pillow==10.4.0
plotly==5.19.0
Requests==2.32.3
scikit_learn==1.4.1.post1
seaborn==0.13.2
spacy==3.7.5
st_annotated_text==4.0.1
streamlit==1.31.1
sumy==0.11.0
textblob==0.18.0.post0
translate==3.6.1
Wikipedia_API==0.6.0
wordcloud==1.8.2.2
