altair==5.4.1
beautifulsoup4==4.12.3
bertopic==0.16.3
extra_streamlit_components==0.1.71
fasttext==0.9.3
flair==0.14.0
functions==0.7.0
ipython==8.12.3
keybert==0.8.5
keyphrase_vectorizers==0.0.13
matplotlib==3.9.2
nltk==3.8.1
numpy
pandas==2.2.2
Pillow==10.4.0
plotly==5.24.0
Requests==2.32.3
scikit_learn==1.5.1
seaborn==0.13.2
spacy==3.7.5
st_annotated_text==4.0.1
streamlit==1.38.0
streamlit_option_menu==0.3.13
sumy==0.11.0
tensorflow==2.17.0
textblob==0.18.0.post0
torch==2.4.1
transformers==4.36.2
translate==3.6.1
Wikipedia_API==0.7.1
wordcloud==1.9.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
