altair==4.2.0
beautifulsoup4==4.12.2
flair==0.12.2
keybert==0.7.0
keyphrase_vectorizers==0.0.11
matplotlib==3.6.3
nltk==3.8.1
numpy==1.24.1
pandas==1.5.2
Pillow==9.5.0
Pillow==9.5.0
plotly==5.14.1
Requests==2.30.0
scikit_learn==1.2.0
seaborn==0.12.2
spacy==3.5.2
st_annotated_text==4.0.0
streamlit==1.22.0
sumy==0.11.0
textblob==0.17.1
wordcloud==1.8.2.2
~treamlit==1.21.0

spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.5.0/es_core_news_sm-3.5.0-py3-none-any.whl
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
es_core_news_md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.5.0/es_core_news_md-3.5.0-py3-none-any.whl
