.css-1r6slb0 {
    border: 1px solid rgb(124 139 139 / 20%);
    border-radius: 0.80rem;
    padding: calc(1em - 1px);
    background-color: #f8f9fa;
}

.css-fg4pbf.e1tzin5v3 {
    position: absolute;
    background: rgb(255, 255, 255);
    color: rgb(49, 51, 63);
    inset: 0px;
    overflow: hidden;
}

#css-1offfwp {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: -1rem;
    border: 1px solid rgb(124 139 139 / 20%);
    border-radius: 0.8rem;
    padding: calc(1em - 1px);
}